body{
  background-image: url("../img/iceberg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

nav{
  background-color: grey;
  opacity: 0.9;
}

img{
  margin-top: 10px;
  margin-right: 20px;
}

.card-panel{
  width: 85%;
  background-color: grey;
  opacity: 0.7;
}
#img3{
  width: 150%;
  height: 500px;
}

#contenedor-vertical{
  width: 10%;
}
