 body{
   background-image: url("../img/fondo.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   font-family:'Comic Sans', cursive;
 }
 header{
   background-color: rgba(128, 128, 128, 0.9);
 }
/* aside{
  height: 750px !important;
} */
.fi-torso-business{
  font-size: 72px;
}

#columna1{
  background-color: #D8D8D8;
  opacity: 0.9;
}

#columna2{
  background-color: #D8D8D8;
  opacity: 0.9;
}
h1,h2,h3,h4{
  font-family:'Comic Sans', cursive;
}
